<template>
    <div class="field">
        <label class="label is-small">Criterion type</label>
        <div class="control">
            <div class="select is-small">
                <select name="type" v-model="dataCriterion.type" @change="resetFields" required="required" :disabled="isEditable">
                    <option value="" disabled>Select a type</option>
                    <template v-for="type in types">
                        <option :value="type" :key="type">{{capitalize(type)}}</option>
                    </template>
                </select> 
            </div>
        </div>
    </div>
</template>

<script>
import CriterionMixin from './criterion-editors-mixin';

const criteriaTypes = ['text', 'number', 'date', 'enum'];

export default {
    name: "CriteriaTypeSelector",

    mixins: [CriterionMixin],

    methods: {
        capitalize(string){
            return string.charAt(0).toUpperCase() + string.slice(1);
        },

        resetFields() {
            this.dataCriterion.name = '';
            this.dataCriterion.value = '';
        }
    },

    data() {
        return {
            types: criteriaTypes,
        };
    }
};
</script>

<style>
</style>
