<template>
    <div>
        <div class="columns">
            <div class="column">
                <CriteriaTypeSelector :criterion="criterion" :isEditable="isEditable"/>
            </div>
            <div class="column">
                <button class="button is-danger is-pulled-right is-small is-inverted" @click.prevent="removeCriterion" :disabled="isEditable">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        
        <div class="field">
            <label for="" class="label is-small">Name</label>
            <div class="control">
                <input id="" type="text" class="input is-small" v-model.trim="dataCriterion.name" placeholder="Criterion name" 
                    required="required" :disabled="isEditable"/>
            </div>
        </div>

        <div class="field">
            <label for="" class="label is-small">Value</label>
            <div class="control">
                <input id="" type="date" class="input is-small" v-model="dataCriterion.value" placeholder="Criterion date" 
                    required="required" :disabled="isEditable"/>
            </div>
        </div>
    </div>
</template>

<script>
import CriteriaTypeSelector from './CriteriaTypeSelector';
import CriterionMixin from './criterion-editors-mixin';

export default {
    name: 'DateCriterion',

    components: {
        CriteriaTypeSelector
    },

    mixins: [CriterionMixin],
}
</script>

<style>

</style>
