<template>
    <div>
        <div class="columns">
            <div class="column">
                <CriteriaTypeSelector :criterion="criterion" :isEditable="isEditable"/>
            </div>
            <div class="column">
                <button class="button is-danger is-pulled-right is-small is-inverted" @click.prevent="removeCriterion" :disabled="isEditable">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        
        <div class="field">
            <label for="" class="label is-small">Name</label>
            <div class="control">
                <input id="" type="text" class="input is-small" v-model.trim="dataCriterion.name" 
                    placeholder="Criterion name" :disabled="isEditable"/>
            </div>
        </div>

        <div class="field">
            <label for="" class="label is-small">Options</label>
            
            <div class="field">
                <div class="control">
                    <button class="button is-small" @click.prevent="addCriterionValue" :disabled="isEditable">+ Add option</button>
                </div>
            </div>

            <div class="field" v-for="(option, index) in dataCriterion.value" :key="index">
                <div class="control">
                    <input id="" type="text" class="input is-small" v-model.trim="option.value" 
                        placeholder="Option value" required="required" :disabled="isEditable"/>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import CriterionMixin from './criterion-editors-mixin';
import CriteriaTypeSelector from './CriteriaTypeSelector.vue';

export default {
    name: 'EnumCriterion',

    components: {
        CriteriaTypeSelector
    },

    created() {
        // this.dataCriterion.value = [];
        
    },

    mixins: [CriterionMixin],

    methods: {
        addCriterionValue() {
            this.dataCriterion.value.push({value:''});
        }
    },

    data() {
        if (!Array.isArray(this.criterion.value)) {
            this.criterion.value = [];
        }

        return {
            dataCriterion: this.criterion
        }
    }
}
</script>

<style>

</style>
