<template>
    <div>
        <div class="columns">
            <div class="column">
                <CriteriaTypeSelector :criterion="criterion" :isEditable="isEditable"/>
            </div>
            <div class="column">
                <button class="button is-danger is-pulled-right is-small is-inverted" @click.prevent="removeCriterion" :disabled="isEditable">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="field">
            <label for="" class="label is-small">Name</label>
            <div class="control">
                <input id="" type="text" class="input is-small" v-model.trim="dataCriterion.name" placeholder="Criterion name" :disabled="isEditable"/>
            </div>
        </div>

        <div class="field">
            <label for="" class="label is-small">Value</label>
            <div class="control">
                <input id="" type="text" class="input is-small" v-model.trim="dataCriterion.value" placeholder="Criterion text value" required="required" :disabled="isEditable"/>
            </div>
        </div>
    </div>
</template>

<script>
import CriterionMixin from './criterion-editors-mixin';
import CriteriaTypeSelector from './CriteriaTypeSelector.vue';


export default {
    name: 'TextCriterion',

    components: {
        CriteriaTypeSelector
    },

    mixins: [CriterionMixin],
}
</script>

<style>

</style>
