<template>
    <div >
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://www.britecore.com/">
                    <img :src="logo" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" :class="{'is-active': isBurgerActive}" @click="toggleActive" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu" :class="{'is-active': isBurgerActive}">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>

                    <a class="navbar-item" href="https://bitbucket.org/jveLebreault/britecore/src/master/">
                        Documentation
                    </a>
                </div>
            </div>
        </nav>

        <section id="app" class="section">
            <RiskTypes />
        </section>
    </div>
        
</template>

<script>
import logo from "./assets/britecore-logo.png";
import RiskTypes from "./components/RiskTypes.vue";

export default {
    name: "app",
    components: {
        RiskTypes
    },

    data() {
        return {
            logo,
            isBurgerActive: false
        };
    },

  methods: {
      toggleActive(){
          this.isBurgerActive = !this.isBurgerActive;
      }
  },
};
</script>

<style>
    @import "~bulma/css/bulma.min.css";
    @import "~@fortawesome/fontawesome-free/css/all.min.css";

    .modal-background {
        background-color: rgba(10, 10, 10, 0.4);
    }

    /* ::-webkit-scrollbar {
        width: 6px;  
        height: 6px; 
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
    } */
</style>
