
<script>
import TextCriterion from './critera-editors/TextCriterion.vue';
import NumberCriterion from './critera-editors/NumberCriterion.vue';
import DateCriterion from './critera-editors/DateCriterion.vue';
import EnumCriterion from './critera-editors/EnumCriterion.vue';
import CriteriaTypeSelector from './critera-editors/CriteriaTypeSelector.vue';

export default {
    name: 'CriterionEditor',

    components: {
        TextCriterion,
        NumberCriterion,
        DateCriterion,
        EnumCriterion,
        CriteriaTypeSelector
    },

    props: {
        criterion: {
            type: Object,
            required: true
        },

        isEditable: {
            type: Boolean,
            required: false,
            default: true
        }
    },

    methods: {
        removeCriterion() {
            this.$emit('remove-criterion', this.criterion);
        }
    },

    render(){
        switch(this.criterion.type) {
            case 'text':
                return <TextCriterion criterion={this.criterion} on-remove-criterion={this.removeCriterion} isEditable={this.isEditable}/>;

            case 'number':
                return <NumberCriterion criterion={this.criterion} on-remove-criterion={this.removeCriterion} isEditable={this.isEditable}/>;

            case 'date':
                return <DateCriterion criterion={this.criterion} on-remove-criterion={this.removeCriterion} isEditable={this.isEditable}/>;

            case 'enum':
                return <EnumCriterion criterion={this.criterion} on-remove-criterion={this.removeCriterion} isEditable={this.isEditable}/>;

            default:
                return <CriteriaTypeSelector criterion={this.criterion} isEditable={this.isEditable}/>;
        }
    }

}
</script>

<style>

</style>
