<template>
    <form @submit.prevent="submit" @reset.prevent="resetForm" class="columns box">
        <div class="column">
            <div class="content">
                <div class="control">
                    <button class="button is-danger is-outlined" @click.prevent="closeForm">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </div>
                <div class="field">
                    <label for="riskTypeName" class="label">Risk type name</label>
                    <div class="control">
                        <input id="riskTypeName" type="text" class="input" name="riskTypeName" v-model="dataRiskType.name" required :disabled="isEditable">
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="field">
                    <label for="riskTypeDescription" class="label">Risk type description</label>
                    <div class="control">
                        <textarea id="riskTypeDescription" type="textarea" class="textarea" rows="2"
                            name="riskTypeDescription" v-model="dataRiskType.description" :disabled="isEditable">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-link" type="submit" :disabled="isEditable"/>
                </div>
                
                <div class="control">
                    <input class="button is-text" type="reset" v-if="!Boolean(this.riskType)"/>
                </div>

                <div class="control">
                    <button class="button is-primary" v-if="isEditable" @click.prevent="toggleEdit">Edit</button>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="content">
                <div class="criteria-box">
                    <div class="field">
                        <label for="criteria" class="label">Criteria</label>
                        <div class="control">
                            <button class="button is-rounded is-small" @click.prevent="addNewCriteria" :disabled="isEditable">+ Add new criteria</button>
                        </div>
                    </div>
                    
                    <div class="content" v-for="(criterion, index) in dataRiskType.criteria" :key="index">
                        <CriterionEditor :criterion="criterion" @remove-criterion="removeCriteria" :isEditable="isEditable"/>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </form>
</template>

<script>
import CriterionEditor from './CriterionEditor.vue';

const defaultCriteria = {type: 'new', name: '', value: ''};

export default {
    name: 'RiskTypeForm',
    components: {
        CriterionEditor
    },

    props: {
        riskType: {
            type: Object,
            required: false
        }
    },

    methods: {
        toggleEdit() {
            this.isEditable = !this.isEditable;
        },

        closeForm() {
            this.$emit('close-form');
        },

        addNewCriteria() {
            this.dataRiskType.criteria.push(Object.assign(
                {},
                {...defaultCriteria}
            ));
        },

        removeCriteria(criterion) {
            const criterionIndex = this.dataRiskType.criteria.indexOf(criterion);
            this.dataRiskType.criteria.splice(criterionIndex, 1);
            
        },

        resetForm() {
            const defaultRiskType = {
                name: '',
                description: '',
                criteria: []
            };
            this.dataRiskType = Object.assign({}, defaultRiskType);
            this.dataRiskType.criteria = [];
        },

        submit() {
            if(this.riskType) {
                this.toggleEdit();
            }

            this.$emit('submit-risk-type', this.dataRiskType);
        },
    },

    data(){
        const defaultRiskType = {
            name: '',
            description: '',
            criteria: []
        };
        return {
            dataRiskType: this.riskType || Object.assign({}, defaultRiskType),
            isEditable: Boolean(this.riskType)
        };
    }
}

</script>

<style scoped>
    button.is-danger {
        margin-bottom: 1%;
    }

    button[type="submit"] {
        margin-top: 2%;
    }

</style>


