<template>
    <div class="container">
      <Spinner :isActive="isRequestPending"/>
        <h3 class="title">Risk Types</h3>
          <div class="columns">
              <div class="column">
                  <button class="button is-link" @click="toggleRiskTypeForm" v-if="!isFormVisible">+ Create new risk type</button>
                  <div class="" v-if="isFormVisible">
                    <RiskTypeForm @close-form="toggleRiskTypeForm" @submit-risk-type="submitRiskType" ref="riskTypeForm"/>
                  </div>
              </div>
          </div>
            
          <div class="columns is-multiline">
              <div class="column is-half" v-for="riskType in riskTypes" :key="riskType.id">
                <RiskTypeForm :riskType="riskType" @close-form="deleteRiskType(riskType)" @submit-risk-type="updateRiskType(riskType)"/>
              </div>
          </div>
    </div>
</template>

<script>
import RiskTypeForm from './RiskTypeForm.vue';
import Spinner from './Spinner.vue';

const endpoint = process.env.VUE_APP_ENDPOINT ? `${process.env.VUE_APP_ENDPOINT}/risktypes/`: '/risktypes/';

export default {
    name: 'RiskTypes',
    components: {
      RiskTypeForm,
      Spinner
    },

    beforeMount(){
	  this.isRequestPending = true;
      fetch(endpoint).
      then(response => response.json()).
      then(
        data => {
			this.isRequestPending = false;
            this.riskTypes = data;
        });
    },

    methods: {

      toggleRiskTypeForm() {
        this.isFormVisible = !this.isFormVisible;
      },
      
      deleteRiskType(riskType) {
        this.isRequestPending = true;
        fetch(`${endpoint}${riskType.id}/`, {
          method: 'DELETE',
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "Accept": "application/json; charset=utf-8"
          },
        }).then(
          response => {
            if(response.status == 204){
              return;
            }
            this.isRequestPending = true;
            throw new Error('Error in request: '+response.status +' - '+ response.statusText);
          }).then(() => {
              const riskTypeIndex = this.riskTypes.indexOf(riskType);
              this.riskTypes.splice(riskTypeIndex, 1);
              this.isRequestPending = false;
          });
      },

      submitRiskType(riskType) {
        this.isRequestPending = true;
        fetch(endpoint, {
          method: 'POST',
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "Accept": "application/json; charset=utf-8"
          },
          body: JSON.stringify(riskType)
        }).then(
          response => {
            if(response.ok){
              return response.json();
            }
            this.isRequestPending = false;
            throw new Error('Error in request: '+response.status +' - '+ response.statusText);
          }).then(data => {
            this.riskTypes.push(data);
            this.$refs.riskTypeForm.resetForm();
            this.isRequestPending = false;
          });
      },

      updateRiskType(riskType) {
        this.isRequestPending = true;
        fetch(`${endpoint}${riskType.id}/`, {
          method: 'PUT',
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            "Accept": "application/json; charset=utf-8"
          },
          body: JSON.stringify(riskType)
        }).then(response => {
          if(response.ok) {
            return response.json();
          }
          this.isRequestPending = false;
          throw new Error('Error in request: '+response.status +' - '+ response.statusText);
        }).then(data => {
          Object.assign(riskType, data);
          this.isRequestPending = false;
        }); 

      }

    },

    data() {
      return {
        riskTypes: [],
        isFormVisible: false,
        isRequestPending: false
      };
    }
}

</script>

<style scoped>
  .box {
    margin: 1%;
  }
</style>



