<template>
    <div class="modal" :class="{'is-active': isActive}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box has-text-centered">
                <div class="content">
                    <i class="fas fa-circle-notch fa-spin fa-8x"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Spinner',

    props: {
        isActive: {
            type: Boolean,
            required: false,
            default: false
        }
    }
}
</script>

<style>

</style>
